html, body {
  height:100%;
  margin: 0;
}

.page {
  height:100%;
  min-height:100%; /*firefox*/
}

html > body .page {
  height:auto;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 1px;
  color:white;
}

h1 {
  font-size:80px;
  font-weight:700;
}

h2 {
  color:#363636;
  font-size:50px;
}

.title {

  margin: 5% 0;
}

#main {
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#main .container {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#main p {
  font-size:30px;
  color:white;
  font-weight:300;
}

#portfolio {
  background-color: #CCC;
}

#portfolio .portfolio-item {
  margin: 0 0 30px;
  right:0;
}

#portfolio .portfolio-item .portfolio-link,
#portfolio .portfolio-item .portfolio-subtitle {
  display:block;
  position: relative;
  max-width:400px;
  margin: 0 auto;
  background-color: gray;
}

#portfolio .portfolio-item .portfolio-link {
  height:80%;
}

#portfolio .portfolio-item .portfolio-subtitle {
  background-color:white;
  padding: 10px 0;
}

#portfolio .portfolio-item .portfolio-link img {
  overflow:hidden;
  max-width: 100%;
  max-height:100%;
}

#portfolio .portfolio-item .portfolio-subtitle {
  /*min-height:100px;*/

  max-width: 400px;
  /*margin: 0 auto;*/
  /*padding:20px;*/
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background:rgba(254,209,54,.9);
  background:rgba(140,140,140,0.9);
  position: absolute;
  width:100%;
  height:100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s  
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover span {
  font-size:60px;
  color:white;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-subtitle h4 {
  display:inline-block;
  color:black;
}

#timeline {
  background-color: gray;
  position:relative;
  z-index:-1;
}


#timeline .timeline-item {
  height:100%;
  min-height:100px;
  display:flex;
  align-items:center;
}

#timeline .timeline-item .timeline-text{

}

#timeline .timeline-item .timeline-icon {
  position: relative;
  height:100%;
  min-height:100px;
  z-index:3;
  overflow:hidden;
}



#timeline .timeline-item .timeline-icon .circle {
  width: 80px;
  height: 80px;
  line-height: 50px;
  padding:0;
  border-radius: 50%;
  background-color:transparent;
  position: absolute;
  z-index:3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#timeline .timeline-item .timeline-icon .circle span {
  color:white;
  left:50%;
  top:50%;
  font-size:40px;
  transform: translate(-50%,-50%);
  position:absolute;
  z-index:5;
}

#timeline .school .timeline-icon .circle hr {
  position:absolute;

  top:25%;
  left:100%;
  width:100%;
}

#timeline .work .timeline-icon .circle hr {
  position: absolute;

  top:25%;
  left:-100%;
  width:100%;
}

.vertical {
  width:0;
  z-index:1;
  position: absolute;
  z-index:1;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
}

@media (min-width: 768px) {
  .vertical {
    width:100%;
  }
  #timeline .timeline-item .timeline-icon .circle {
    border:1px white solid;
    background-color:black;
  }
}